table {
    border-collapse: collapse;
    font-size: 24px;
}

tr, td, th {
    border: 1px gray solid;
    text-align: center;
    vertical-align: middle;
    padding: 6px;
}

th {
    color: white;
    background-color: darkgray;
}

td {
    background-color: lightgray;
}

#signin, #login, #logout {
    float: right;
    margin-left: 10px;
}
a {
    text-decoration: none;
    color: blue;
}

#choose {
    color: blue;
    text-align: center;
}
div {
    display: flex;
    justify-content: center;
    align-items: center;
}
#confirm {
    color: green;
}
#cancel {
    color: red;
    position: center;
}